body{
  align-items: center;
  background: linear-gradient(to right, #304352 0%, #D7CCD5 100%);
  display: flex;
  justify-content: center;
  height: inherit;
  justify-content: center;
  width: auto;
  min-height: 47rem;

}

.card-body{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.resultado{
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(55.5px);
  background: rgba(160, 154, 154, 0.75);
  border: 1px solid rgb(255, 255, 255, 0.1);
  border-radius: 6rem;
  box-shadow: 0 4px 30px rgb(35, 35, 35, 0.1);
  border-radius: 7px;
  box-shadow:inset 2px 2px 2px 0px;  /*profundidad*/
  color: #000000;
  font-size: 35px;
  overflow: auto;
  padding: 1rem;
  margin-left: 7px;
  text-align: right;
  width: 15rem;



}

.btn{
  background: #D7CCD5 ;
  border-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  border-radius: 6px;
  margin-left: 12px;
  width:3rem;
  height:3rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}












section {
  display: flex;

  align-items: center;
  justify-content: center;
}

